body {
    margin: 40px;
}

.box {
    background-color: #aad;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: 210px;
}

.box:nth-child(even) {
    background-color: #cac;
    color: #000;
}

.wrapper {
    width: 100%;
    padding-left: 10%;
    /* display: grid; */
    /* grid-gap: 10px; */
    /* grid-template-columns: repeat(6, 250px); */
}

h1 {
    font-size: 80px;
    text-align: left;
}
h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
}
h2.first {
    font-size: 30px;
    text-align: left;
    padding-left: 10%;
}
#floatright {
    float: right;
    margin-right: 20%;
    font-size: 30px;
}

hr {
    margin-right: 18%;
}


/* table { */
/*     width: 190px */
/* } */

.minor {
    font-size: 13px;
}
.major {
    font-size: 32px;
    font-weight: bold;
}
.longmajor {
    font-size: 24px;
    font-weight: bold;
}
.verylongmajor {
    font-size: 18px;
    font-weight: bold;
}
.name {
    font-size: 18px;
}
.loc {
    font-size: 18px;
    color: #777;
}
.znum {
    color: #600;
    font-size: 55px;
    font-weight: bold;
}
.symbol {
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color: #600;
}
.topmatter {
    width: 70%;
    margin-left: 5%;
}
#divfix {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
    width: 15%;
    /* font-weight: bold; */
    color: #000;
    background-color: #eeeeee;
    padding: 4px;
}
.instructions {
    font-weight: bold;
    color: #600;
}
.copyright {
    border-top: 2px solid black;
    z-index: 4000;
    width: 82%;
    font-weight: bold;
    color: #000;
    background-color: #eeeeee;
    margin-left: 10px;
    padding-top: 3px;
}
#outofrange {
    color: #999;
    text-decoration: line-through;
    text-decoration-thickness: 3px; 
    font-weight: bold;
}
#inrange {
    color: #000;
    font-weight: bold;
}
table {
    border: 4px solid black;
    border-spacing: 0px;
    width: 80%;
    
}
th {
    font-size: 20px;
    font-weight: bold;
    background-color: #669;
    color: #eee;
    text-align: left;
}
th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    padding: 4px;
    margin: 10%;
}
tr:nth-child(2n) {background: #ddd}
tr:nth-child(2n-1) {background: rgba(160, 160, 255, 0.25)}
tr:nth-child(4n-2) {background: #fff}
tr:nth-child(4n-1) {background: rgba(210, 210, 255, 0.25)}
